.root{
	-fx-background-color:#ffe6d4;
	
}
.button{
     -fx-font-weight: bold;
      -fx-font-family: 'JetBrains Mono';
     -fx-pref-width:150px;
     -fx-font-size:10pt;
     -fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-color: #f5c987;
}
.fancy-button{
     -fx-background-color: #f5c987;
     -fx-text-fill: black;
}
.fancy-button:hover{
     -fx-background-color: #e36409;
     -fx-text-fill: black;
}